*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
    box-sizing: border-box;
}
body {
	font-family: arapey;
}
nav ul li {
	display: none;
}
nav {
	display:flex;
	justify-content: flex-start;
	column-gap: 23%;
}
.button1 {
	margin-top: 14%;
}
#button1 {
	width: 85%;
	padding: 12px;
    border: none;
	color: white;
	margin: 1%;
	border-radius: 5%;
	background-color: #FE7268;
}
#button1:hover {
   background-color: #090335;
   color: white;
}
#button2 {
	width: 85%;
	padding: 12px;
    border:  2px solid #C4C4C4;
    margin: 1%;
	background-color: white;
	color: #C4C4C4;
	border-radius: 5%;	
}
#button2:hover {
   border-color: #FE7268;
   color: #FE7268;
}
.header {
	font-family: Georgia,Arial,Helvetica,sans-serif;
    padding-left: 8%;
	margin: 4%;
	padding-top: 9%;
    color: #090335;
	font-size: 30px;
	line-height: 40px;
}
#firstp {
	font-family: Georgia,Arial,Helvetica,sans-serif;
	font-size: 20px;
    padding-bottom: 5%;
    width: 80%;
    padding-left: 12%;
    color: #09033598;

}
.image	{
	padding-left: 9%;
	padding-top: 15%;
}

#button3 {
	width: 80%;
	padding: 16px 12px;
    border: none;
	color: white;
	margin: 2%;
	border-radius: 5%;
	background-color: #090335;
	margin: 10%;
}
#button3:hover {
	color: white;
	background-color: #FE7268;
}


#presentation{
    display: flex;
    justify-content: center;
    background-color:#FFF4F2 ;
    width:414px ;
    height: 1000px;
    border-top: 4px solid #D8D8D8;
    border-bottom: 4px solid #D8D8D8 ;
    padding: 70px  40px 60px;
}
.presentation{
    width: 90%;
    font-family: Georgia,Arial,Helvetica,sans-serif;
}

.presentation p{
    font-size: 25px;
    color:#090335b7 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    line-height: 40px;
}

#title2{
    font-size: 30px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
    padding-bottom: 10%;

}
.presentation img{
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

#payment {
	    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	    font-size: 28px;
}
.basic {
    height: 652px;
    border-top: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8 ;
}

.advanced {
	height: 652px;
	border-top: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8 ;
}

.pro {
	height: 652px;
	border-top: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8 ;
}

.header3 {
	color: #090335;
	padding: 40px 30px 30px;
}
.image3 {
  margin: 0 50px ;
}
.thirdp {
  margin: auto;
  width: 60%;
  line-height: 28px;	
  font-size: 25px;
  color: #09033598;
}
.box
.subscribe {
	font-size: 20px;
	padding-left: 32%;
}

#article{
	height: 1300px;
	width:414px ;
	display: flex;
	flex-direction: column;
    justify-content: center;
	background:#FFF4F2;
    border-top: 4px solid #D8D8D8;
    border-bottom: 4px solid #D8D8D8 ;
    padding: 70px  40px 60px; 

}
.article p{
    font-size: 25px;
    color:#090335b7 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    line-height: 40px;
}

#title4{
    font-size: 30px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
    margin-top: 40px;
    padding-bottom: 10%;
}

.article img{
    width: 100%;
    height: 100%;
    margin-top: 40px;
	margin: auto;
}
.article{
    width: 90%;
    font-family: Georgia,Arial,Helvetica,sans-serif;
} 

#title5{
	font-size: 35px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
	text-align: center;
    margin-top: 45px;
    padding-bottom: 50px;
}

#featured{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#fimg{
	margin-top: 40px;
}

