 *{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
    box-sizing: border-box;

}
body {
	font-family: arapey;
}
nav ul li {
	display: none;
}
nav {
	display:flex;
	justify-content: space-evenly;
	column-gap: 2%;
}
#logo {
	padding-top: 5px;
	padding-left: 15px;
}
.button1 {
		margin-top: 27%;
}
#button1 {
	margin-top: 27%;
	width: 100px;
	padding: 12px;
    border: none;
	color: white;
	margin: 1%;
	border-radius: 5%;
	background-color: #FE7268;
}
#button1:hover {
   background-color: #090335;
   color: white;
}
}
.title1 {
	text-align: center;
	font-family: Georgia,Arial,Helvetica,sans-serif;
    padding-left: 8%;
	margin: 4%;
	padding-top: 9%;
    color: #090335;
	font-size:170% ;
}
#firstp{
	font-family: Georgia,Arial,Helvetica,sans-serif;
	font-size: 150%;
	width: 80%;
    padding-bottom: 5%;
    padding-left: 12%;
    color: #09033598;

}
.image	{
	padding-left: 9%;
	padding-top: 15%;
}

#button3 {
	width: 80%;
	padding: 16px 12px;
    border: none;
	color: white;
	margin: 2%;
	border-radius: 5%;
	background-color: #090335;
	margin: 10%;
}
#button3:hover {
	color: white;
	background-color: #FE7268;
}


#presentation{
    display: flex;
    justify-content: center;
    background-color:#FFF4F2 ;
    width: 100vw;
    height: auto;
    border-top: 4px solid #D8D8D8;
    border-bottom: 4px solid #D8D8D8 ;
    padding: 70px  40px 60px;
}
.presentation{
    width: 90%;
    font-family: Georgia,Arial,Helvetica,sans-serif;
}

.presentation p{
    font-size: 25px;
    color:#090335b7 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    line-height: 40px;
}

#title2{
    font-size: 30px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
    padding-bottom: 10%;

}
.presentation img{
   
}
#payment {
	    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	    font-size: 28px;
}
.basic {
	width: 100vw;
    height: auto;
    border-top: 2px solid #D8D8D8;
    order-bottom: 2px solid #D8D8D8 ;
    margin-bottom: 20%;
}

.advanced {
	width: 100vw;
	height: auto;
	border-top: 2px solid #D8D8D8;
    margin-bottom: 20%;
}

.pro {
    width: 100%;
	height: auto;
	border-top: 2px solid #D8D8D8;
    margin-bottom: 20%;
}

.title3 {
	width: 100%;
	margin-top: 5%;
	color: #090335;
	padding: 40px 30px 30px;
	text-align: center;
}

.image3 {
  width: 100%;
  padding-left: 13%;
}
.thirdp {
  margin: auto;
  width: 60%;
  line-height: 28px;	
  font-size: 25px;
  color: #09033598;
}
#box {
	margin: auto;
	width:280px ;
    height:auto ;
	border: 2px solid #FFF4F2;
}
.box {
	margin: auto;
    width:280px ;
    height:auto ;
	border: 2px solid #FFF4F2;
	padding-left: 20px;

}

#article{
	height: auto;
	width:100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
	background:#FFF4F2;
    border-top: 4px solid #D8D8D8;
    border-bottom: 4px solid #D8D8D8 ;
    padding: 70px  40px 60px; 

}
.article p{
    font-size: 25px;
    color:#090335b7 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    line-height: 40px;
}

#title4{
    font-size: 30px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
    margin-top: 40px;
    padding-bottom: 10%;
}

.article img{
    width: 100%;
    
    
	
}
.article{
    width: 90%;
    font-family: Georgia,Arial,Helvetica,sans-serif;
} 

#title5{
	font-size: 35px;
    line-height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: #090335;
	text-align: center;
    margin-top: 45px;
    padding-bottom: 50px;
}

#featured{
   padding-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#featured div img{
	width: 100%;
}
#fimg{
	margin-top: 40px;
}
footer {
	height: auto;
	width: 100%;
	background-color: #090335;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
	color: white;
}
#logo2 {
	margin-top: 20px;
	margin-left: 137px;
}
.title4 {
	font-size: 23px;
	margin: 17px 0 10px;
}
.list {
	display: flex;
	justify-content: center;
	column-gap: 140px;
	line-height: 20px;
}
.fourthp {
	width: 80%;
	margin-top: 45px;
	text-align: center;
	padding-left: 65px;
}

